@import '../sass-globals.scss';

$headerHeight: 40px;
#header {
  height: 72px;
  display: flex;
  align-items: center;

  #logo {
    @extend .no-select;
    height: 50px;
    margin-left: -9px;
  }

  #play-pause {
    @extend .no-select;
    height: $headerHeight;
    cursor: pointer;
    margin-left: 6px;
  }

  .header-item {
    @extend .no-select;
    height: $headerHeight;
    margin-left: $padding;
  }

  .divided-by {
    @extend .no-select;
    height: 40px;
    width: 20px;
    margin-right: -14px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 50%;
      width: 1px;
      height: 21px;
      background-color: $lightTextGray;
      transform: rotate(25deg);
    }
  }
}
