@import '../sass-globals.scss';

$headerHeight: 40px;
#header {
  height: 72px;
  display: flex;
  align-items: center;

  #logo {
    height: 50px;
    margin-left: -9px;
  }

  #play-pause {
    height: $headerHeight;
    cursor: pointer;
    margin-left: 6px;
  }

  .header-item {
    height: $headerHeight;
    margin-left: $padding;
  }
}