@import '../sass-globals.scss';

#header {
  height: 72px;
  display: flex;
  align-items: center;

  #logo {
    height: 50px;
    margin-left: -9px;
  }

  #play-pause {
    height: 40px;
    cursor: pointer;
    margin-left: 6px;
  }
}