@import '../sass-globals.scss';

$headerHeight: 40px;
#header {
  height: $headerHeight;
  display: flex;
  align-items: center;
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 4;
  padding-left: $padding * 2;

  #logo {
    @extend .no-select;
    height: 50px;
    margin-left: -9px;
  }

  #play-pause {
    @extend .no-select;
    height: $headerHeight;
    cursor: pointer;
    margin-left: 6px;
  }

  .header-item {
    @extend .no-select;
    height: $headerHeight;
    margin-left: $padding;
  }

  .divided-by {
    @extend .no-select;
    height: 40px;
    width: 20px;
    margin-right: -14px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 50%;
      width: 1px;
      height: 21px;
      background-color: $lightTextGray;
      transform: rotate(25deg);
    }
  }

  .switch-container {
    display: inline-block;
  }

  .header-label {
    text-transform: uppercase;
    color: $pink;
    margin-top: -2px;
  }

  .knob-container {
    margin-top: -3px;
    margin-left: 11px;

    .knob {
      margin-left: 0;
      display: block;
    }

    .knob-label {
      display: block;
      font-size: 15px;
      color: $pink;
      text-align: center;
      margin-left: 0;
      margin-top: -5px;
    }
  }
}
