@import '../sass-globals.scss';

.lane-container {
  display: flex;
  position: relative;

  .lane-expander {
    position: absolute;
    bottom: calc(var(--note-height) * -0.5);
    width: 100%;
    height: var(--note-height);
    background: transparent;
    cursor: ns-resize;
    z-index: 1;
  }

  .keys {
    border-top: 1px solid $lightMediumGray;
    border-bottom: 1px solid $lightMediumGray;
    box-shadow: 2px 0px 3px #cccccc;
    position: sticky;
    left: 0;
    z-index: 1;
    border-left: 4px solid var(--lane-color);

    .key {
      width: 10px;
      height: var(--note-height);
      box-sizing: border-box;
      background: #ffffff;
      position: relative;

      &.e-key {
        border-bottom: 1px solid $lightBlue;
      }

      &.black-key {
        background: #000000;
      }

      .note-name {
        position: absolute;
        font-size: 14px;
        font-weight: bold;
        color: $darkGray;
        left: -24px;
      }
    }
  }

  .lane {
    height: 100%;
    border: 1px solid $lightGray;
    box-sizing: border-box;
    position: relative;

    .note-lane {
      background: #ffffff;
      box-sizing: border-box;
      width: 100%;
      height: var(--note-height);

      &.e-key {
        border-bottom: 1px solid $lightBlue;
      }

      &.black-key {
        background: $lightBlue;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .empty-measure {
    height: 100%;
    width: var(--measure-width);
  }

  .ticks {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    pointer-events: none;

    .tick {
      width: calc(var(--measure-width) / 8);
      height: 100%;
      box-sizing: border-box;
      border-right: 1px solid $lightGray;

      &:nth-child(even) {
        border-color: $mediumGray;
      }

      &:nth-child(8n + 8) {
        border-color: $lightTextGray;
      }
    }
  }

  .notes {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    width: 100%;
    pointer-events: none;

    .note {
      position: absolute;
      height: var(--note-height);
      background: $blue;
      pointer-events: all;
      box-shadow: 0px 0px 2px lighten($blue, 30%);
      box-sizing: border-box;
      border: 1px solid lighten($blue, 35%);
      cursor: grab;

      &.grabbing {
        cursor: grabbing;
      }

      &:hover {
        background: $blueHover;
      }

      &.no-pointer {
        pointer-events: none;
      }

      $noteDragWidth: 10px;
      .note-drag-right {
        width: $noteDragWidth;
        position: absolute;
        top: -1px;
        right: $noteDragWidth * -0.5;
        height: var(--note-height);
        background: transparent;
        cursor: ew-resize;

        &.outside {
          right: -$noteDragWidth;
        }
      }

      .note-drag-left {
        width: $noteDragWidth;
        position: absolute;
        top: -1px;
        left: $noteDragWidth * -0.5;
        height: var(--note-height);
        background: transparent;
        cursor: ew-resize;

        &.outside {
          left: -$noteDragWidth;
        }
      }

      &.selected {
        border: 2px solid $blue;
        background: lighten($blue, 35%);

        &:hover {
          background: lighten($blue, 30%);
        }

        .note-drag-left,
        .note-drag-right {
          top: -2px;
        }

        .note-drag-right {
          right: $noteDragWidth * -0.5 - 1px;

          &.outside {
            right: -$noteDragWidth - 1px;
          }
        }

        .note-drag-left {
          left: $noteDragWidth * -0.5 - 1px;

          &.outside {
            left: -$noteDragWidth - 1px;
          }
        }
      }
    }
  }
}
