@import '../sass-globals.scss';

.lane-container {
  display: inline-flex;
  position: relative;
  box-shadow: 0 3px 3px -2px #dadada;

  .lane-expander {
    position: absolute;
    bottom: calc(var(--note-height) * -0.5);
    width: 100%;
    height: var(--note-height);
    background: transparent;
    z-index: 1;

    &.active {
      cursor: ns-resize;
    }
  }

  .keys {
    border-top: 1px solid $lightMediumGray;
    border-bottom: 1px solid $lightMediumGray;
    box-shadow: 2px 0px 3px #cccccc;
    position: sticky;
    left: 0;
    z-index: 1;
    padding-left: 4px;
    cursor: grab;

    &::before {
      content: '';
      width: 4px;
      height: 100%;
      background-color: var(--lane-color);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }

    &.grabbing {
      cursor: grabbing;
    }

    .key {
      width: var(--keys-width, 10px);
      height: var(--note-height);
      box-sizing: border-box;
      background: #ffffff;
      position: relative;
      pointer-events: none;

      &.e-key {
        border-bottom: 1px solid $lightBlue;
      }

      &.black-key {
        background: #000000;
      }

      .note-name {
        position: absolute;
        font-size: 14px;
        font-weight: bold;
        color: $darkGray;
        left: -24px;
        pointer-events: none;
        user-select: none;
      }
    }
  }

  .lane {
    height: 100%;
    width: var(--lane-width);
    flex: 0 0 var(--lane-width);
    border: 1px solid $lightGray;
    box-sizing: border-box;
    position: relative;

    .note-lane {
      background: #ffffff;
      box-sizing: border-box;
      width: 100%;
      height: var(--note-height);

      &.e-key {
        border-bottom: 1px solid var(--lane-color-lane);
      }

      &.black-key {
        background: var(--lane-color-lane);
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .empty-measure {
    height: 100%;
    width: var(--eighth-width);
  }

  .notes {
    position: absolute;
    top: 0;
    left: calc(var(--keys-width) + 4px);
    height: 100%;
    width: 100%;
    pointer-events: none;

    .note {
      position: absolute;
      height: var(--note-height);
      background: var(--lane-color);
      pointer-events: all;
      box-shadow: 0px 0px 2px var(--lane-color-light);
      box-sizing: border-box;
      border: 1px solid var(--lane-color-lightest);
      cursor: grab;

      &.grabbing {
        cursor: grabbing;
      }

      &:hover {
        background: var(--lane-color-hover);
      }

      &.no-pointer {
        pointer-events: none;
      }

      $noteDragWidth: 10px;
      .note-drag-right {
        width: $noteDragWidth;
        position: absolute;
        top: -1px;
        right: $noteDragWidth * -0.5;
        height: var(--note-height);
        background: transparent;
        cursor: ew-resize;

        &.outside {
          right: -$noteDragWidth;
        }
      }

      .note-drag-left {
        width: $noteDragWidth;
        position: absolute;
        top: -1px;
        left: $noteDragWidth * -0.5;
        height: var(--note-height);
        background: transparent;
        cursor: ew-resize;

        &.outside {
          left: -$noteDragWidth;
        }
      }

      &.selected {
        border: 2px solid var(--lane-color);
        background: var(--lane-color-lightest);

        &:hover {
          background: var(--lane-color-light);
        }

        .note-drag-left,
        .note-drag-right {
          top: -2px;
        }

        .note-drag-right {
          right: $noteDragWidth * -0.5 - 1px;

          &.outside {
            right: -$noteDragWidth - 1px;
          }
        }

        .note-drag-left {
          left: $noteDragWidth * -0.5 - 1px;

          &.outside {
            left: -$noteDragWidth - 1px;
          }
        }
      }
    }
  }
}
