@import '../sass-globals.scss';

.lane {
  display: flex;
  border-left: 4px solid var(--lane-color);
  position: relative;

  .keys {
    border-top: 1px solid $lightMediumGray;
    border-bottom: 1px solid $lightMediumGray;
    box-shadow: 2px 0px 3px #cccccc;
    position: sticky;
    left: 0;
    z-index: 1;

    .key {
      width: 10px;
      height: var(--note-height);
      box-sizing: border-box;
      background: #ffffff;

      &.e-key {
        border-bottom: 1px solid $lightBlue;
      }

      &.black-key {
        background: #000000;
      }
    }
  }

  .measure {
    height: 100%;
    width: var(--measure-width);
    border: 1px solid $lightGray;
    border-right: 2px solid $lightTextGray;
    box-sizing: border-box;
    position: relative;

    .note-lane {
      background: #ffffff;
      box-sizing: border-box;
      width: 100%;
      height: var(--note-height);

      &.e-key {
        border-bottom: 1px solid $lightBlue;
      }

      &.black-key {
        background: $lightBlue;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .empty-measure {
    height: 100%;
    width: var(--measure-width);
  }

  .ticks {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    pointer-events: none;

    .tick {
      width: calc(var(--measure-width) / 8);
      height: 100%;
      box-sizing: border-box;
      border-right: 1px solid $lightGray;

      &:nth-child(even) {
        border-color: $mediumGray;
      }
    }
  }

  .notes {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    width: 100%;
    pointer-events: none;

    .note {
      position: absolute;
      height: var(--note-height);
      background: $blue;
      pointer-events: all;
      box-shadow: 0px 0px 2px lighten($blue, 30%);
      box-sizing: border-box;
      border: 1px solid lighten($blue, 35%);
    }
  }
}
