@import './sass-globals.scss';

#main-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 72px);
  padding: $padding * 2;
  padding-top: 72px;

  &.grabbing {
    cursor: grabbing !important;
  }
  &.ew-resizing {
    cursor: ew-resize !important;
  }

  #transport-topbar {
    position: sticky;
    top: 0;
    padding-left: 14px;
    display: flex;
    z-index: 2;

    .ticks {
      padding-left: 13px;
      height: 10px;
      background: $blueGray;
      border: 1px solid $lightGray;
      box-sizing: border-box;
      margin-left: 1px;

      .tick {
        height: calc(100% + 2px);
        margin-top: -1px;

        &:first-of-type {
          border-left: 1px solid $lightTextGray;
        }
      }
    }
  }

  #lanes-container {
    position: relative;
    display: inline-block;
    padding-top: 8px;

    #delimiters-container {
      position: absolute;
      padding-left: 14px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }

    #delimiters {
      position: sticky;
      top: 0;
      width: 100%;
      pointer-events: none;
    }
  }

  .empty-lane {
    height: 120px;
    width: 100%;
    background: darken($lightestBlue, 4%);
    cursor: crosshair;

    &:hover {
      background: $mediumBlue;
    }
  }

  #drag-select {
    position: absolute;
    border: 1px solid $pink;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      bottom: -1px;
      right: -1px;
      border: 1px solid darken($pink, 10%);
      filter: blur(2px);
    }
  }

  #lane-overflow {
    position: fixed;
    left: 0;
    top: $totalHeaderHeight;
    bottom: 0;
    width: $padding * 2;
    background: linear-gradient(to right, rgba(243, 249, 255, 1), rgba(243, 249, 255, 0.2));
  }

  #add-lane {
    position: absolute;
    bottom: $padding * -1.8;
    left: $padding * -1.5;
    z-index: 3;

    #add-lane-button {
      height: $padding * 1.3;
      cursor: pointer;
    }
  }
}
