@import './sass-globals.scss';

#main-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  padding: $padding * 2;
  padding-top: 72px;

  &.grabbing {
    cursor: grabbing !important;
  }
  &.ew-resizing {
    cursor: ew-resize !important;
  }

  #transport-topbar {
    position: absolute;
    left: 30px;
    height: 8px;
    padding-left: 14px;
    background: $blueGray;
    display: flex;
    z-index: 2;

    .ticks {
      padding-left: 15px;

      .tick {
        height: calc(100% + 1px);

        &:first-of-type {
          border-left: 1px solid $lightTextGray;
        }
      }
    }
  }

  #lanes-container {
    $topGutter: 8px;
    position: relative;
    display: inline-block;
    padding-top: $topGutter;

    #delimiters {
      position: absolute;
      left: 14px;
      top: 0;
      bottom: 0;
      pointer-events: none;
    }
  }

  .empty-lane {
    height: 120px;
    width: 100%;
    background: darken($lightestBlue, 4%);
    cursor: crosshair;

    &:hover {
      background: $mediumBlue;
    }
  }

  #drag-select {
    position: absolute;
    border: 1px solid $pink;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      bottom: -1px;
      right: -1px;
      border: 1px solid darken($pink, 10%);
      filter: blur(2px);
    }
  }

  #lane-overflow {
    position: fixed;
    left: 0;
    top: $totalHeaderHeight;
    bottom: 0;
    width: $padding * 2;
    background: linear-gradient(to right, rgba(243, 249, 255, 1), rgba(243, 249, 255, 0.2));
  }

  #add-lane {
    position: absolute;
    bottom: $padding * -1.8;
    left: $padding * -1.5;
    z-index: 3;

    #add-lane-button {
      height: $padding * 1.3;
      cursor: pointer;
    }
  }
}
