@import './sass-globals.scss';

#main-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 72px);
  padding: $padding * 2;
  padding-top: 72px;

  &.grabbing {
    cursor: grabbing !important;
  }
  &.ew-resizing {
    cursor: ew-resize !important;
  }
  &.ns-resizing {
    cursor: ns-resize !important;
  }

  #header-background {
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: $lightestBlue;
  }

  #transport-topbar {
    position: sticky;
    top: 0;
    padding-left: 14px;
    display: flex;
    z-index: 2;

    .ticks {
      height: 10px;
      background: $blueGray;
      border: 1px solid $lightGray;
      box-sizing: border-box;
      margin-left: 1px;
      pointer-events: all;

      .ticks-container {
        padding-left: 13px;
      }

      .tick {
        height: calc(100% + 2px);
        margin-top: -1px;

        &:first-of-type {
          border-left: 1px solid $lightTextGray;
        }
      }
    }

    .lane-overflow {
      position: fixed;
      left: 0;
      top: 72px;
      height: 10px;
      width: 30px;
      background: linear-gradient(to right, rgba(243, 249, 255, 1), rgba(243, 249, 255, 0.2));

      &.hide-overflow {
        position: absolute;
        left: -30px;
        top: 0;
        background: $lightestBlue;
      }
    }
  }

  #lanes-container {
    position: relative;
    display: inline-block;
    padding-top: 8px;

    #delimiters-container {
      position: absolute;
      padding-left: 14px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      pointer-events: none;
    }

    #delimiters {
      position: sticky;
      top: 0;
      width: 100%;
      pointer-events: none;
    }
  }

  .empty-lane {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 146px;
    font-size: 24px;
    color: $blue;
    background-color: $lightestBlue;
    transition: background-color $transitionTime ease;
    cursor: crosshair;

    &:hover {
      background-color: darken($lightBlue, 2%);
    }
  }

  #drag-select {
    position: absolute;
    border: 1px solid $pink;
    z-index: 3;

    &::before {
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      bottom: -1px;
      right: -1px;
      border: 1px solid darken($pink, 10%);
      filter: blur(2px);
    }
  }

  #lane-overflow {
    position: fixed;
    left: 0;
    top: $totalHeaderHeight;
    bottom: 0;
    width: $padding * 2;
    background: linear-gradient(to right, rgba(243, 249, 255, 1), rgba(243, 249, 255, 0.2));
  }

  #add-lane {
    $leftOffset: -23px;
    margin-top: 2px;
    margin-left: $leftOffset;

    #add-lane-button {
      z-index: 1;
      position: sticky;
      left: $leftOffset;
      height: $padding * 1.3;
      cursor: pointer;

      &.no-lanes {
        position: absolute;
        top: $padding;
      }
    }
  }
}
