@import './sass-globals.scss';

#main-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-left: $padding * 2;
  padding-top: 72px;

  &.grabbing {
    cursor: grabbing !important;
  }

  .empty-lane {
    height: 120px;
    width: 100%;
    background: darken($lightestBlue, 4%);
    cursor: crosshair;

    &:hover {
      background: $mediumBlue;
    }
  }

  #drag-select {
    position: absolute;
    border: 1px solid $pink;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      bottom: -1px;
      right: -1px;
      border: 1px solid darken($pink, 10%);
      filter: blur(2px);
    }
  }

  #lane-overflow {
    position: fixed;
    left: 0;
    top: $totalHeaderHeight;
    bottom: 0;
    width: 30px;
    background: linear-gradient(to right, rgba(243, 249, 255, 1), rgba(243, 249, 255, 0.2));
  }
}
