@import './sass-globals.scss';

@font-face {
  font-family: 'DIN Condensed';
  src: url('assets/DINCondensed-Bold.woff2'), url('assets/DINCondensed-Bold.woff'), url('assets/DINCondensed-Bold.eot');
}

@font-face {
  font-family: 'DIN';
  src: url('assets/DIN-Medium.woff2'), url('assets/DIN-Medium.woff'), url('assets/DIN-Medium.eot');
}

@font-face {
  font-family: 'Ultra Regular';
  src: url('assets/Ultra-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'DIN Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  min-width: 100vw;
  min-height: 100vh;
  background: $lightestBlue;
  color: $darkTextGray;
}

#root {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
}

#main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: $padding * 2 0 0 $padding * 2;
}

.empty-lane {
  height: 120px;
  width: 100%;
  background: darken($lightestBlue, 4%);
  cursor: crosshair;
  
  &:hover {
    background: $hoverBlue;
  }
}
