$yellow: #fff9ae;
$darkYellow: #ece74c;
$green: #33ff00;
$greenHover: lighten($green, 20%);
$greenActive: darken($green, 5%);
$lightGreen: lighten($green, 35%);
$blue: #008dff;
$blueHover: lighten($blue, 10%);
$pink: #ff88e3;
$red: #ff413e;
$redHover: lighten($red, 10%);
$redActive: darken($red, 5%);
$darkRed: darken($red, 15%);
$orange: #ff9700;
$orangeHover: lighten($orange, 10%);
$lightOrange: #ffe4d1;
$darkOrange: darken($orange, 10%);
$darkLightOrange: #ffd2b1;
$darkerLightOrange: #ffc49a;
$lightGray: #e6e6e6;
$lightestGray: #efefef;
$lightGrayHover: lighten($lightGray, 3%);
$mediumGray: #cccccc;
$lightMediumGray: #dfdfdf;
$lightAlternateGray: #d3d3d3;
$darkGray: #666666;
$darkGrayHover: lighten($darkGray, 8%);
$darkTextGray: #222222;
$lightTextGray: #919191;
$lightestBlue: #f3f9ff;
$lightBlue: #e6f3fc;
$mediumBlue: #a8d6ff;
$transitionTime: 0.3s;
$padding: 15px;

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
